@charset "UTF-8";
/* CSS Document */

body{
	background-color: rgb(0,162,232);
}
#myCanvas2{
	background-color: white;
	border: solid blue 3px;
	width: 700px;
	height: 600px;
	margin: 0 auto;
}
#canvas{
	margin: 0 auto;

}
#one{
	background-color: rgb(0, 162, 323);
	height: 30;
	position: absolute;
	width: 35;	
}
#two{
	background-color: rgb(0, 162, 323);	
	height: 40;
	width: 45;
}
#three{
	background-color: rgb(0, 162, 323);	
	height: 50;
	width: 35;
}
#four{
	background-color: rgb(0, 162, 323);	
	height: 5;
	width: 35;
}
div#second{
	height: 100vh;	
}
.chest{
	margin-top: 10px;
	padding-right: 5px;
	position: relative;	
	padding-top: 30px;
}
